#landingJumbotron {
	background-image: linear-gradient(to bottom, rgba(35, 10, 10, 0.8) 0%, rgba(55, 55, 55, 0.8) 100%), url(assets/background_two.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
}

#anotherJumbotron {}

html {
	font-family: 'Montserrat', sans-serif;
	background-color: aliceblue;
}

em {
	font-weight: 800;
}

input {
	width: 10em;
	height: auto;
	border: 1px solid black;
}

address {
	align-self: center;
	text-align: center;
	margin: 25px;
	padding: 30px;
}

form {
	text-align: center;
	align-self: center;
	align-items: flex-start;
}

h1 {
	text-align: center;
}

.nav-link {
	color: rgb(2, 104, 193);
}

.navbar .navbar-brand img {
	height: 90px;
	width: auto;
	border: none;
	border-radius: 50%;
}

#landingJumbotron {
	background-image: linear-gradient(to bottom, rgba(35, 35, 35, 0.5) 0%, rgba(169, 169, 169, 0.85) 100%), url(assets/background_two.jpg);
	background-repeat: no-repeat;
	background-size: 110% auto;
	background-position: center center;
}

#section1 {
	height: 400px;
}

#section2 {
	background-image: linear-gradient(black, white);
}

.carousel-item {
	width: 640px;
	height: 360px;
}

#section3 {
	height: 400px;
}

#section4 {
	height: 600px;
}

div ul li {
	list-style: none;
}

li {
	list-style: circle;
	margin: 1px;
	padding: 1px;
}

/*
ul li {
	color: rgb(255, 98, 0);
}
*/

#need {
	color: #FFC43A;
	padding: 10px;
	border: 1px solid black;
}


a:hover {
	color: rgb(220, 151, 59);
	 !important
}

a:active {
	color: rgb(0, 255, 4);
}

#contribute {
	background-color: rgb(84, 89, 98);
}

body {
	font-family: 'Montserrat', sans-serif;
}

footer {
	height: fit-content;
	width: auto;
}


gallery {
	text-align: center;
	align-items: stretch;
	align-self: start;

}

/* #5F686C  -- background color as it appears now, for donation/contributions section...maybe...Feel like it adds depth to page, and highlights donation area a bit more*/